<h3>Howdy Space Cowboy!</h3>
<!--
<form ng-submit="submit()">
    <input type="text" ng-model='madLib.firstName' placeholder="Plural Noun">
    <input type="text" ng-model='madLib.properNoun0' placeholder="Proper Noun">
    <input type="text" ng-model='madLib.properNoun1' placeholder="Another Proper Noun">
    <input type="text" ng-model='madLib.noun0' placeholder="Noun">
    <input type="text" ng-model='madLib.noun1' placeholder="Another Noun">
    <input type="text" ng-model='madLib.verb' placeholder="Verb">
    <input type="text" ng-model='madLib.adjective0' placeholder="Adjective">
    <input type="text" ng-model='madLib.adjective1' placeholder="Another Adjective">
    <input id="yet" type="text" ng-model='madLib.adjective2' placeholder="Yet Another Adjective">
    <input id="submit" type="submit" value="See it!" ng-click="saveAnswers(madLib)">
</form>
-->

<form>
<input type="text" placeholder="male name" ng-model="madLib.firstName" name="myName" required="">

<input type="text" placeholder="Job Title" ng-model="madLib.jobTitle" name="myJobTitle" required="">

<input type="text" placeholder="Tedious task" ng-model="madLib.tediousTask" name="myTediousTask" required="">

<input type="text" placeholder="Dirty task" ng-model="madLib.dirtyTask" name="myDirtyTask" required="">

<input type="text" placeholder="Celebrity" ng-model="madLib.celebrity" name="myCelebrity" required="">

<input type="text" placeholder="Useless skill" ng-model="madLib.uselessSkill" name="myUselessSkill" required="">

<input type="text" placeholder="Obnoxious celebrity" ng-model="madLib.obnoxiousCelebrity" name="myOC" required="">

<input type="number" placeholder="Huge number" ng-model="madLib.hugeNumber" name="myHugeNumber" required="">
    <input id="submit" type="submit" value="See it!" ng-click="saveAnswers(madLib)">
</form>