<h3>Howdy Space Cowboy!</h3>


<form>
<input type="text" placeholder="male name" ng-model="madLib.firstName" name="myName" required="">

<input type="text" placeholder="Job Title" ng-model="madLib.jobTitle" name="myJobTitle" required="">

<input type="text" placeholder="Tedious task" ng-model="madLib.tediousTask" name="myTediousTask" required="">

<input type="text" placeholder="Dirty task" ng-model="madLib.dirtyTask" name="myDirtyTask" required="">

<input type="text" placeholder="Celebrity" ng-model="madLib.celebrity" name="myCelebrity" required="">

<input type="text" placeholder="Useless skill" ng-model="madLib.uselessSkill" name="myUselessSkill" required="">

<input type="text" placeholder="Obnoxious celebrity" ng-model="madLib.obnoxiousCelebrity" name="myOC" required="">

<input type="number" placeholder="Huge number" ng-model="madLib.hugeNumber" name="myHugeNumber" required="">
    <input id="submit" type="submit" value="See it!" ng-click="saveAnswers(madLib)">
</form>
