<h1>
  {{greeting}}
</h1>
<p>
    <span class="name">{{madlib.firstName}}</span> was a <span>bounty hunter</span> who loved being a {{madlib.jobTitle}}. Although {{madlib.firstName}} loved parts of the job, he absolutely hated <span>{{madlib.tediousTask}}</span> and <span>{{madlib.dirtyTask}}</span>. So, <span class="name">{{madlib.firstName}}</span> met with his life mentor <span class="name">{{madlib.celebrity}}</span> who taught <span>{{madlib.uselessSkill}}</span> with swords.
    <br> For <span>{{madlib.hugeNumber}}</span> years he fought against {{madlib.obnoxiousCelebrity}}, {{madlib.firstName}} was an expert at <span>{{madlib.uselessSkill}}</span> so it was time to start {{madlib.tediousTask}}.
</p>